name: Build and publish Windows wheels
on:
  push:
    branches:
      - main
      - pypi-dev
      - ci-dev
    paths:
      - '.github/workflows/build_windows_wheels.yml'
      - 'python-webrtc/cpp/**'
      - 'CMakeLists.txt'
      - 'setup.py'
jobs:
  # Disk C is used to bypass limitation of default disk space
  # ref: https://github.com/actions/virtual-environments/issues/1341
  build_wheels_for_windows:
    name: Build and publish wheels for Windows
    runs-on: windows-latest

    strategy:
      matrix:
        arch: [
#            "x32",
            "x64",
        ]

    env:
      WEBRTC_CACHE_KEY: "1"

    steps:
      - name: Clone.
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up environment.
        shell: bash
        run: |
          echo "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Enterprise\\VC\\Auxiliary\\Build\\" >> $GITHUB_PATH
          git config --global core.longpaths true

      - name: Move repository to disk C.
        run: |
          xcopy . C:\src\ /E/H

      - name: WebRTC cache.
        uses: actions/cache@v2
        with:
          path: "C:/src/third_party/libwebrtc"
          key: ${{ runner.os }}-${{ matrix.arch }}-cache-webrtc-${{ env.WEBRTC_CACHE_KEY }}

      - name: Build wheels for x32.
        if: matrix.arch == 'x32'
        working-directory: "C:/src"
        env:
          CIBW_BEFORE_BUILD: call vcvars32.bat
          CIBW_ARCHS: x86
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.7"
          CIBW_BUILD: cp3*-*
          CIBW_SKIP: cp36-*
          CIBW_BEFORE_TEST: cd /d C:\src\third_party\depot_tool\src && git stash
          CIBW_TEST_COMMAND: python -c "import wrtc; wrtc.ping()"
        run: |
          pip install cibuildwheel==2.3.1
          cibuildwheel

      - name: Build wheels for x64.
        if: matrix.arch == 'x64'
        working-directory: "C:/src"
        env:
          CIBW_ARCHS: AMD64
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.7"
          CIBW_BUILD: cp3*-*
          CIBW_SKIP: cp36-*
          CIBW_BEFORE_TEST: cd third_party\depot_tool\src && git stash
          CIBW_TEST_COMMAND: python -c "import wrtc; wrtc.ping()"
        run: |
          pip install cibuildwheel==2.3.1
          cibuildwheel

      - name: Upload artifacts.
        uses: actions/upload-artifact@v2
        with:
          name: "wrtc wheels for Windows"
          path: "C:/src/wheelhouse/*.whl"
