name: Build and publish Linux wheels
on:
  push:
    branches:
      - main
      - pypi-dev
      - ci-dev
    paths:
      - '.github/workflows/build_linux_wheels.yml'
      - 'python-webrtc/cpp/**'
      - 'CMakeLists.txt'
      - 'setup.py'
jobs:
  build_wheels_for_linux:
    name: Build and publish wheels for Linux
    runs-on: ubuntu-latest

    steps:
      - name: Clone.
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build wheels.
        uses: pypa/cibuildwheel@v2.3.1
        env:
          MANYLINUX_INSIDE: true
          CIBW_ENVIRONMENT_PASS_LINUX: MANYLINUX_INSIDE
          CIBW_ARCHS: x86_64
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.7"
          # extended manylinux image with updated GCC (7.5) and patched CPython
          # about gcc: https://github.com/pypa/manylinux/issues/1012
          # about patch: https://github.com/pypa/manylinux/issues/1264
          CIBW_MANYLINUX_X86_64_IMAGE: ghcr.io/marshalx/wrtc/manylinux_2_24_x86_64:latest
          CIBW_BUILD: cp3*-manylinux_*
          # TODO uncomment after successful build for cp36 (I just want to test my patched manylinux)
#          CIBW_SKIP: cp36-*
          CIBW_TEST_COMMAND: python -c "import wrtc; wrtc.ping()"

      - name: Upload artifacts.
        uses: actions/upload-artifact@v2
        with:
          name: "wrtc for Linux (x86_64)"
          path: ./wheelhouse/*.whl
