name: Create and publish Source Distribution
on:
  push:
    branches:
      - main
      - pypi-dev
    paths:
      - '.github/workflows/publish_sdist.yml'
      - 'python-webrtc/cpp/**'
      - 'CMakeLists.txt'
      - 'setup.py'
jobs:
  create_sdist:
    name: Create and publish Source Distribution
    runs-on: ubuntu-latest

    steps:
      - name: Clone.
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Python.
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Create Source Distribution.
        run: python setup.py sdist

      - name: Upload artifacts.
        uses: actions/upload-artifact@v2
        with:
          name: "wrtc sdist"
          path: ./dist/*

      - name: Publish a Python distribution to PyPI.
        if: github.ref == 'refs/heads/pypi-dev' && github.repository == 'MarshalX/python-webrtc'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
